:root {
    --input-color: #80868B;
    --blue-color: #0053ff;
    --black-color: #000000;
    --red-color: #ff0000;
    ---background-color: #465773;
    --font-size: 1em;
}

*, ::before, ::after {
    box-sizing: border-box;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    background-color: var(---background-color);
}

.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 460px;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 2px solid var(--blue-color);
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--red-color);
}

.button {
    margin-top: 10px;
    border-radius: 30px;
    border: 2px solid var(--blue-color);
    background-color: white;
}

.button:hover {
    background-color: var(--blue-color);
}

.button:active {
    outline: none;
    background-color: var(--red-color);
}

#gallery {
    flex-direction: row;
    flex-wrap: wrap;
}

#buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#sending-form {
    margin-bottom: 10px;
}

#sending-private-picture {
    justify-content: right;
}

#queryFilter {
    margin-right: 43px;
}